*
!*.adb
*#sicsim_*
!*.ads
!*.c
!*.h
!*.pdf
!sql
!static
!static/js
!static/css
!.gitignore
!*.sql
rpg-bkp*
!compile
!static/js/*.js
!static/css/*.css
!*.html
server
*.pem
*.pub
*.cert
*.key
makefile

Session.vim
b~*
